<h1>Nuevo Articulo</h1>
<%= form_with model: @articulo do |form| %>
<div>
<%= form.label :Título %><br>
<%= form.text_field :titulo %>
<% @articulo.errors.full_messages_for(:titulo).each do |message| %>
<div><%= message %></div>
<% end %>
</div>
<div>
<%= form.label :Descripción %><br>
<%= form.text_area :descripcion %>
<% @articulo.errors.full_messages_for(:descripcion).each do |message| %>
<div><%= message %></div>
<% end %>
</div>
<div>
<%= form.submit %>
</div>
<% end %>